page-header {
	.main-div {
		display: flex;
	}
	.right-div {
		width: 100%;
		text-align: right;
		padding: 10px;
	}
	.left-div {
		
	}
	.header-icons {
		font-size: 1.5em;
	}	
	.logout-margin {
		margin-right: 10px;
	}
	.logo-image {
	    max-height: 100%;
	    max-width: 100%;
	    background-size: contain;
	    background-repeat: no-repeat;
	}
	.cursor-pointer {
		cursor: pointer;
	}
}